* {
    margin: 0;
    padding: 0;

}
body{

    background: black;
    width: 1560px;
    height: 720px;
}   


.container{
    
    position: relative;
    left: 196px;
    transform: rotate(314deg);
    bottom: 277px;
    
}

img::hover{
    transform: scale(1.1);
}


.third-row{
    position: relative;
    left: 204px;
}

.fourth-row{
    position: relative;
    left: 408px;
}
/* div.a1 {
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
} */

/* div.a {
    width: 150px;
    height: 80px;
    background-color: yellow;
    transform: rotate(40deg);
  } */
  /* .img {
    width: 150px;
    height: 150px;
    border: 2px solid black;

}
img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-90deg);
} */